<div class="svg-container grab">
	<p class="loading">
		<span class="spinner s40"></span> processing, please wait
	</p>
	<div class="view-control">
		<div class="pan-control">
			<span class="ico ico-keyboard-arrow-up pan-top"></span>
			<span class="ico ico-keyboard-arrow-left pan-left"></span>
			<span class="ico ico-keyboard-arrow-right pan-right"></span>
			<span class="ico ico-keyboard-arrow-down pan-bottom"></span>
			<span class="ico ico-home pan-home"></span>
		</div>
		<div class="zoom-control">
			<span class="ico ico-add zoom-in"></span>
			<span class="ico ico-remove zoom-out"></span>
			<!--<span class="ico ico-undo zoom-reset"></span>-->
		</div>
			
		<div class="slider"></div>
	</div>
	
	<div class="tree-search-holder">
		<input type="text" class="tree-search" placeholder="Search your family tree" />
	</div>
	
	<svg id="tree" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
		<g id="viewport" class="view"></g>
	</svg>
	<div class="pan-family">
		<div class="my-family" attr="selected" title="View my family"></div>
<!-- 		<div class="my-entire-family" title="View entire family"></div> -->
	</div>
</div>
	
<script>
	var profileId = "{ID}";
</script>